In [1]:
from multiprocessing import Pool

import os

import pandas as pd

In [4]:
WKDIR = '/app/Projects/Users/estorrs/data/dan/data/'

## get vcf

In [45]:
def get_headerless_vcf_df(f_obj, stop_on='#CHROM'):
    line = ''
    header = ''
    while True:
        line = f_obj.readline()
        header += line
        if line[:6] == stop_on:
            break
            
    df = pd.read_csv(f_obj, sep='\t', header=None)
    df.columns = line[1:].replace('""', '').replace('\n', '').split('\t')

    return df, header

In [39]:
vcf_df, header = get_headerless_vcf_df(open(WKDIR + '1000-genomes/all.grch38.coding.10000.vcf'))

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [40]:
vcf_df.head()

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG00096,...,NA21128,NA21129,NA21130,NA21133,NA21135,NA21137,NA21141,NA21142,NA21143,NA21144
0,16,9757012,rs529716401,T,G,100,PASS,AC=2;AF=0.000399361;AN=5008;NS=2504;DP=20245;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,11,49208591,rs73473180,C,A,100,PASS,AC=55;AF=0.0109824;AN=5008;NS=2504;DP=14917;EA...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,1,225337355,rs570296060,G,T,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=18014;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,17,50998632,rs200757327,T,C,100,PASS,AC=1;AF=0.000199681;AN=5008;NS=2504;DP=18006;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,1,236898241,rs559857057,A,G,100,PASS,AC=2;AF=0.000399361;AN=5008;NS=2504;DP=17198;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [ ]:
# vcf_df[vcf_df['REF'] == '-']

## get outputs from bam-readcount

In [41]:
readcounts_folder = WKDIR + 'readcount_outputs/ccrc/'

In [42]:
sample_readcount_fps = os.listdir(readcounts_folder)
samples_names = [s.split('.')[0] for s in sample_readcount_fps]
sample_readcount_fps[:5], samples_names[:5]

(['C3L-00004.WXS.N.hg38.readcounts',
  'C3L-00183.WXS.N.hg38.readcounts',
  'C3L-00418.WXS.N.hg38.readcounts',
  'C3L-00010.WXS.N.hg38.readcounts',
  'C3L-00026.WXS.N.hg38.readcounts'],
 ['C3L-00004', 'C3L-00183', 'C3L-00418', 'C3L-00010', 'C3L-00026'])

In [48]:
extra_cols = 50
columns = ['CHROM', 'POS', 'REF', 'DEPTH'] + list(range(extra_cols))
readcount_df = pd.read_csv(readcounts_folder + sample_readcount_fps[0],
                           sep='\t', header=None, names=columns)

# check for chr in chromosome
if 'chr' in readcount_df['CHROM'][0]:
    readcount_df['CHROM'] = [c.replace('chr', '') for c in readcount_df['CHROM']]

In [49]:
readcount_df.head()

,CHROM,POS,REF,DEPTH,0,1,2,3,4,5,...,40,41,42,43,44,45,46,47,48,49
0,1,942874,C,87,=:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,A:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,C:87:60.00:32.71:0.69:41:46:0.53:0.01:3.67:46:...,G:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,T:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,N:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,960684,C,59,=:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,A:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,C:59:60.00:28.53:1.02:33:26:0.54:0.00:2.10:37:...,G:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,T:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,N:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,964367,G,191,=:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,A:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,C:1:60.00:12.00:0.00:1:0:0.16:0.05:50.00:1:0.0...,G:189:59.92:27.87:1.27:129:60:0.54:0.00:2.41:1...,T:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,N:1:60.00:2.00:0.00:1:0:0.03:0.08:38.00:1:0.93...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,965059,G,233,=:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,A:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,C:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,G:233:60.00:27.31:3.09:168:65:0.52:0.01:6.03:1...,T:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,N:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,965125,G,249,=:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,A:1:60.00:2.00:0.00:1:0:0.13:0.04:10.00:1:0.18...,C:116:60.00:33.89:1.55:33:83:0.52:0.02:35.33:3...,G:132:59.59:33.29:2.73:31:101:0.56:0.00:2.72:3...,T:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,N:0:0.00:0.00:0.00:0:0:0.00:0.00:0.00:0:0.00:0...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
def get_chrom_pos_lookup_table(df):
    # make lookup table
    position_lookup = {}
    for i, row in df.iterrows():
        if row['CHROM'] in position_lookup:
            d = position_lookup[row['CHROM']]
            d[row['POS']] = i
        else:
            position_lookup[row['CHROM']] = {
                row['POS']: i
            }
    
    return position_lookup

In [19]:
# readcount_df[readcount_df['REF'] == '-']

In [58]:
def get_base_counts(bamrc_row):
    counts = {}
    for i in range(extra_cols):
        if pd.isnull(bamrc_row[i]):
            break

        pieces = bamrc_row[i].split(':', 2)
        counts[pieces[0]] = int(pieces[1])
    
    return counts

def call_genotype(alt_allele, bamrc_row, N_thresh=.9, min_read_depth=8):
    # check read depth
    if bamrc_row['DEPTH'] < min_read_depth:
        return '.|.'
    
    base_counts = get_base_counts(bamrc_row)
    
    # check n
    if base_counts['N'] / bamrc_row['DEPTH'] > N_thresh:
        return '.|.'
    
    ref_count = base_counts.get(bamrc_row['REF'])
    alt_count = base_counts.get(alt_allele)
    
    if ref_count is None or alt_count is None:
        return '.|.'
    
    
    # check hom ref
    if ref_count >= 8 and alt_count < 4:
        return '0|0'
    # check het
    if ref_count >= 4 and alt_count >=4:
        return '0|1'
    # check hom alt
    if alt_count >= 8 and ref_count < 4:
        return '1|1'
    
    return '.|.'

In [63]:
def call_for_bamrc_fp(bamrc_fp, vcf_fp):
    vcf_df, header = get_headerless_vcf_df(open(vcf_fp))
    
    extra_cols = 50 # pad columns because bam-readcount gives variable column lengths
    columns = ['CHROM', 'POS', 'REF', 'DEPTH'] + list(range(extra_cols))
    readcount_df = pd.read_csv(bamrc_fp, sep='\t', header=None, names=columns)
    # check for chr in chromosome
    if 'chr' in readcount_df['CHROM'][0]:
        readcount_df['CHROM'] = [c.replace('chr', '') for c in readcount_df['CHROM']]
    
    position_lookup = get_chrom_pos_lookup_table(readcount_df)
    
    calls = []
    for i, vcf_row in vcf_df.iterrows():
    #     if i % 1000 == 0:
    #         print i

        readcount_row = None
        d = position_lookup.get(str(vcf_row['CHROM']))
        if d:
            row_index = d.get(vcf_row['POS'])
            if row_index:
                readcount_row = readcount_df.iloc[row_index]

        if readcount_row is not None:
            calls.append(call_genotype(vcf_row['ALT'], readcount_row))
        else:
            calls.append('.|.')

    return (bamrc_fp, calls)

def proccess(arg):
    print(arg)
    return call_for_bamrc_fp(arg[0], arg[1])

In [73]:
def rebuild_vcf(input_vcf_fp, sample_to_genotype):
    vcf_df, header = get_headerless_vcf_df(open(input_vcf_fp))
    
    # chop off samples
    vcf_df = vcf_df[['CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO']]
    
    # add format col
    vcf_df['FORMAT'] = ['GT'] * vcf_df.shape[0]
    
    # add samples
    for sample_id, calls in sample_to_genotype.items():
        vcf_df[sample_id] = calls
        
    # reform header
    new_header = ''
    for line in header.split('\n'):
        if line[:6] != '#CHROM':
            new_header += line + '\n'
        else:
            break
    vcf_df.rename(columns={'CHROM':'#CHROM'}, inplace=True)
        
    # combine header and df
    df_str = vcf_df.to_csv(None, index=None, sep='\t')
    output_str = new_header + df_str
        
#     return output_str
    return output_str

In [51]:
WKDIR = '/app/Projects/Users/estorrs/data/dan/data/'

vcf_fp = WKDIR + '1000-genomes/all.grch38.coding.10000.vcf'

readcounts_folder = WKDIR + 'readcount_outputs/ccrc/'

sample_readcount_fps = os.listdir(readcounts_folder)
sample_names = [s.split('.')[0] for s in sample_readcount_fps]
sample_readcount_fps = [readcounts_folder + s for s in sample_readcount_fps]
samples_fp_to_name = {s:n for s, n in zip(sample_readcount_fps, sample_names)}

In [68]:
len(sample_names)

92

In [69]:
results = []
threads = 5
with Pool(threads) as p:
    results = p.map(proccess, zip(sample_readcount_fps, [vcf_fp] * len(sample_readcount_fps)))

/usr/local/lib/python3.6/multiprocessing/pool.py:44: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  return list(map(*args))
/usr/local/lib/python3.6/multiprocessing/pool.py:44: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  return list(map(*args))
/usr/local/lib/python3.6/multiprocessing/pool.py:44: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  return list(map(*args))
/usr/local/lib/python3.6/multiprocessing/pool.py:44: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  return list(map(*args))
/usr/local/lib/python3.6/multiprocessing/pool.py:44: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  return list(map(*args))

In [70]:
results = {samples_fp_to_name[x[0]]:x[1] for x in results}

In [71]:
# results

In [74]:
df_str = rebuild_vcf(vcf_fp, results)

f = open(WKDIR + 'ccrc.10000.vcf', 'w')
f.write(df_str)
f.close()

In [ ]:
df_str

In [ ]:
def coverage(calls):
    c = 0
    for call in calls:
        if call != './.':
            c += 1
    
    if len(calls) == 0:
        return 0.0
    
    return float(c) / len(calls)

In [ ]:
coverage(calls)

In [ ]:
readcount_df.columns

In [ ]:
readcount_df['CHROM'] == '10'

In [ ]:
'sfda:sadfb:c:d'.split(':', 2)